{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header class="text-light p-3 custom-header">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Logo à gauche -->
      {# <img src="../image/logo.png" alt="Logo"> #}

      <!-- Boutons "Inscription" et "Connexion" à droite -->
    <div class="align-right">
      <a href="#" class="btn btn-custom mr-44">Inscription</a>
      <a href="#" class="btn btn-custom">Connexion</a>
  </div>
 </div
</header>

{% endblock %}
