{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header class="p-3 custom-header">
    <div class="container-fluid d-flex justify-content-end align-items-center">
    
        {# <img src="../image/logo.png" alt="Logo"> #}

        <!-- Boutons "Inscription" et "Connexion" à droite -->
        <div class="mr-2">
            <a href="{{path('app_register')}}" class="btn btn-custom mr-4">Inscription</a>
            <a href="{{path('app_login')}}" class="btn btn-custom ">Connexion</a>
        </div>
    </div>
</header>
{# <div class="body-content">
    <div class="image-container">
        <div class="custom-welcome">
            <div class="welcome-text">
                BIENVENUE CHEZ ADEF MOBILAB.
            </div>
        </div>
    </div>
    <div class=" col-md-6 microscope"><br>
    <div class="description-text">
                Explorez l'innovation en mouvement avec ADEF MOBILAB, où la science rencontre la mobilité. 
                Notre laboratoire mobile vous apporte des solutions scientifiques au seuil de votre porte, repoussant les frontières de la recherche pour façonner un avenir plus intelligent et plus accessible. Bienvenue dans un monde où la découverte vient à vous.
            </div>
    </div>
</div> #}


<div class="welcome-section">
        BIENVENUE CHEZ ADEF MOBILAB.
    </div>

    <!-- Section d'exploration -->
    <div class="explore-section">
        Explorez l'innovation en mouvement avec ADEF MOBILAB, où la science rencontre la mobilité.
        Notre laboratoire mobile vous apporte des solutions scientifiques au seuil de votre porte, repoussant les frontières de la recherche pour façonner un avenir plus intelligent et plus accessible. Bienvenue dans un monde où la découverte vient à vous.
    </div>

       <div class="description-container">
        <!-- Icône avec Bootstrap -->
        <div class="align-items-center">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 89" fill="none">
                <path d="M13 71.4878H39V66.5576H13V71.4878ZM13 51.767H39V46.8368H13V51.767ZM5.99857 88.7435C4.29 88.7435 2.86371 87.9842 1.71971 86.4657C0.573237 84.9439 0 83.0491 0 80.7812V7.96226C0 5.69437 0.573237 3.80118 1.71971 2.28268C2.86371 0.760893 4.29 0 5.99857 0H35.2857L52 22.1859V80.7812C52 83.0491 51.428 84.9423 50.284 86.4608C49.1375 87.9826 47.71 88.7435 46.0014 88.7435H5.99857ZM33.4286 24.651V4.93019H5.99857C5.42905 4.93019 4.90533 5.24572 4.42743 5.87679C3.952 6.51114 3.71429 7.2063 3.71429 7.96226V80.7812C3.71429 81.5372 3.952 82.2323 4.42743 82.8667C4.90533 83.4977 5.42905 83.8133 5.99857 83.8133H46.0014C46.5709 83.8133 47.0947 83.4977 47.5726 82.8667C48.048 82.2323 48.2857 81.5372 48.2857 80.7812V24.651H33.4286Z" fill="#51FAE6"/>
            </svg>
        </div>

        
        <div class="description">
            <h2>Description</h2>
            <p>
                L'incarnation de la science en mouvement. Nous sommes bien plus qu'un laboratoire mobile, nous sommes une équipe dédiée à apporter l'innovation scientifique directement à votre porte. Explorez avec nous les frontières de la recherche, où la mobilité rencontre la découverte.
            </p>
        </div>
    </div>

    <div class="description-container">
        <!-- Icône avec Bootstrap -->
        <div class="align-items-center">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 89" fill="none">
                <path d="M13 71.4878H39V66.5576H13V71.4878ZM13 51.767H39V46.8368H13V51.767ZM5.99857 88.7435C4.29 88.7435 2.86371 87.9842 1.71971 86.4657C0.573237 84.9439 0 83.0491 0 80.7812V7.96226C0 5.69437 0.573237 3.80118 1.71971 2.28268C2.86371 0.760893 4.29 0 5.99857 0H35.2857L52 22.1859V80.7812C52 83.0491 51.428 84.9423 50.284 86.4608C49.1375 87.9826 47.71 88.7435 46.0014 88.7435H5.99857ZM33.4286 24.651V4.93019H5.99857C5.42905 4.93019 4.90533 5.24572 4.42743 5.87679C3.952 6.51114 3.71429 7.2063 3.71429 7.96226V80.7812C3.71429 81.5372 3.952 82.2323 4.42743 82.8667C4.90533 83.4977 5.42905 83.8133 5.99857 83.8133H46.0014C46.5709 83.8133 47.0947 83.4977 47.5726 82.8667C48.048 82.2323 48.2857 81.5372 48.2857 80.7812V24.651H33.4286Z" fill="#51FAE6"/>
            </svg>
        </div>

        
        <div class="description">
            <h2>Description</h2>
            <p>
                L'incarnation de la science en mouvement. Nous sommes bien plus qu'un laboratoire mobile, nous sommes une équipe dédiée à apporter l'innovation scientifique directement à votre porte. Explorez avec nous les frontières de la recherche, où la mobilité rencontre la découverte.
            </p>
        </div>
    </div>

{% endblock %}
