{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header class="p-3 custom-header">
    <div class="container-fluid d-flex justify-content-end align-items-center">
    
        {# <img src="../image/logo.png" alt="Logo"> #}

        <!-- Boutons "Inscription" et "Connexion" à droite -->
        <div class="mr-2">
            <a href="#" class="btn btn-custom mr-4">Inscription</a>
            <a href="#" class="btn btn-custom ">Connexion</a>
        </div>
    </div>
</header>

<div class="custom-welcome">
    <h1>
      BIENVENUE CHEZ ADEF MOBILAB.
   </h1>
  </div>

{% endblock %}
