{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<header class="p-3 custom-header">
    <div class="container-fluid d-flex justify-content-end align-items-center">
    
        {# <img src="../image/logo.png" alt="Logo"> #}

        <!-- Boutons "Inscription" et "Connexion" à droite -->
        <div class="mr-2">
            <a href="{{path('app_register')}}" class="btn btn-custom mr-4">Inscription</a>
            <a href="{{path('app_login')}}" class="btn btn-custom ">Connexion</a>
        </div>
    </div>
</header>
<div class="welcome-section">
        BIENVENUE CHEZ ADEF MOBILAB.
    </div>

    <!-- Section d'exploration -->
    <div class="explore-section">
        Explorez l'innovation en mouvement avec ADEF MOBILAB, où la science rencontre la mobilité.
        Notre laboratoire mobile vous apporte des solutions scientifiques au seuil de votre porte, repoussant les frontières de la recherche pour façonner un avenir plus intelligent et plus accessible. Bienvenue dans un monde où la découverte vient à vous.
    </div>
   <div class="description-container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-container">
                <h2>Description</h2>
                <p>
                    L'incarnation de la science en mouvement. Nous sommes bien plus qu'un laboratoire mobile, nous sommes une équipe dédiée à apporter l'innovation scientifique directement à votre porte. Explorez avec nous les frontières de la recherche, où la mobilité rencontre la découverte.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-container">
                <h2>Services</h2>
                <p>
                    Priorisez votre santé avec nos tests médicaux mobiles. Évitez les déplacements inutiles et accédez aux services de dépistage médical dans le confort de votre maison. La santé à portée de main, c'est maintenant une réalité.
                </p>
            </div>
        </div>
    </div>
</div>


 


{% endblock %}
