.custom-header {
    width:auto;
    height: 100px;
    flex-shrink: 0;
    opacity: 0.7;
    background:  #00b4d8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .btn-custom {
    background-color: #03045e;
    color: white;
  }

.custom-welcome{
    background-image: url('../image/inscription.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    text-align: center;
    color: var(--lab, #51FAE6);
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    line-height: 24px;
}