.custom-header {
    width:auto;
    height: 100px;
    flex-shrink: 0;
    opacity: 0.7;
    background:  #00b4d8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .btn-custom {
    background-color: #03045e;
    color: white;
  }

  .boutonStyle {
    background-color: #00b4d8; 
    color: white;
  }

  .login-page {
    background-image: url('../image/inscription.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px; 
  border-radius: 10px;
  width: 200%; 
  max-width: 800px; 
  margin: auto; 
}
.description-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon {
  margin-top: 20px;
  width: 52px;
  height: 88.743px;
  flex-shrink: 0;
  margin-right: 10px; /* Ajout de la marge à droite pour séparer de l'icône du texte */
}

.description {
  width: 225px;
  height: 20px;
  flex-shrink: 0;
  color: var(--lab, #51FAE6);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 10px; /* Ajout de la marge à gauche pour séparer de l'icône */
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.welcome-section, .explore-section {
  height: 431px; /* Prend la hauteur complète de la fenêtre */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; /* Couleur du texte */
  font-size: 24px; /* Taille du texte */
  font-family : Roboto; 
  background-size: cover;
  font-weight: 100;
  line-height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.welcome-section::before,
        .explore-section::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            mix-blend-mode: overlay;
            background-color: rgba(0, 0, 0, 0.5); /* Couleur noire semi-transparente pour assombrir */
            z-index: 1; /* Placez la superposition au-dessus de l'image de fond */
        }
.welcome-section {
  background-image: url('../image/prise.jpg'); 
}

.explore-section {
  background-image: url('../image/microscope.jpg');
  height: 860px;

  


}