{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Charger les fichiers Bootstrap #}
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    {% block body %}{% endblock %}
    {# Charger les fichiers JavaScript Bootstrap (facultatif) #}
    <script src="{{ asset('bundles/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
